.services {
  padding: 136px 80px 171px;
}

.descriptionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 91px;
}

.title {
  font-size: 48px;
  line-height: 108%;
  text-transform: uppercase;
  color: #323232;
}

.description {
  max-width: 512px;
  font-size: 18px;
  line-height: 150%;
  color: #323232;
  opacity: 0.8;
}

.servicesItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servicesItem:nth-child(even) {
  flex-direction: row-reverse;
}

.servicesList {
  .servicesItem:nth-child(4n + 1) {
    margin-bottom: 65px;
    .imageWrapper {
      margin-right: 40px;
      margin-left: 0;
    }
    .itemImage {
      transform: translate(32px, -32px);
    }
    .itemBg {
      left: 0;
      bottom: 0;
    }
    .descriptionWrapper {
      padding-bottom: 43px;
    }
  }
  .servicesItem:nth-child(4n + 2) {
    margin-bottom: 130px;
    .imageWrapper {
      margin-right: 0;
      margin-left: 40px;
    }
    .itemImage {
      transform: translate(-32px, 32px);
    }
    .itemBg {
      top: 0;
      right: 0;
    }
  }
  .servicesItem:nth-child(4n + 3) {
    margin-bottom: 64px;
    .imageWrapper {
      margin-right: 40px;
      margin-left: 32px;
    }
    .itemImage {
      transform: translate(-32px, -32px);
    }
    .itemBg {
      right: 0;
      bottom: 0;
    }
    .descriptionWrapper {
      padding-bottom: 40px;
    }
  }
  .servicesItem:nth-child(4n + 4) {
    .imageWrapper {
      margin-right: 32px;
      margin-left: 40px;
    }
    .itemImage {
      transform: translate(32px, 32px);
    }
    .itemBg {
      left: 0;
      top: 0;
    }
    .descriptionWrapper {
      padding-top: 28px;
    }
  }
}

.imageWrapper {
  position: relative;
  max-width: 480px;
  max-height: 480px;
  margin: 30px 40px 0 0;
}

.itemImage {
  width: 100%;
}

.itemBg {
  position: absolute;
  width: 100%;
}

.descriptionWrapper {
  max-width: 516px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 108%;
  text-transform: uppercase;
  color: #323232;
  margin-bottom: 24px;
}

.itemDescription {
  font-size: 16px;
  line-height: 150%;
  color: #707070;
}
