.buttonStyles {
  height: 40px;
  padding: 10px 16px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.yellow {
  background: #f4aa16;
  &:hover {
    background: #dc9914;
  }
  &:active {
    background: #c48912;
  }
}

.black {
  background: #323232;
  &:hover {
    background: #2d2d2d;
  }
  &:active {
    background: #141414;
  }
}
