.buttonStyles {
  width: 148px;
  height: 40px;
  padding: 10px 16px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  transition: 0.2s;
}

.yellow {
  background: #f4aa16;
}

.yellow:hover {
  background: #dc9914;
}

.yellow:active {
  background: #c48912;
}

.black {
  background: #323232;
}

.black:hover {
  background: #2d2d2d;
}

.black:active {
  background: #141414;
}

