@import "../../../../styles/variables/all.scss";

.bigScreen {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: $white-color;
  margin-top: 33px;
  z-index: 1;
}

.logoWrapper {
  width: 130px;
  height: 18px;

  @media (min-width: $lg) {
    width: 180px;
    height: 26px;
  }
}

.logo {
  height: 100%;
}
